# **Automating Daily Report Generation**

---

**Automation and Efficiency**

* GOAL:
* WHY:
* WHAT:
* HOW:
* WHEN:

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Automating-Daily-Report-Generation" data-toc-modified-id="Automating-Daily-Report-Generation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><strong>Automating Daily Report Generation</strong></a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><strong>Imports</strong></a></span></li><li><span><a href="#Read-Data" data-toc-modified-id="Read-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span><strong>Read Data</strong></a></span></li><li><span><a href="#EDA" data-toc-modified-id="EDA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>EDA</a></span></li></ul></div>

# **Imports**

In [4]:
from bmcds import eda

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Read Data**

In [20]:
week1 = pd.read_excel('Data/Week_of_11_7_21.xlsx', header=None, usecols = 'A:I', skiprows=7)
week1

,0,1,2,3,4,5,6,7,8
0,283,,283,,0,283,,0,# Rooms
1,1981,,1981,,0,1981,,0,Room Nights Available
2,1459,,1242,,217,683,,776,Room Nights Sold
3,0.7365,,0.6271,,0.1094,0.3448,,0.3917,Occupancy %
4,153.03,,107.35,,45.68,109,,44.03,ADR
...,...,...,...,...,...,...,...,...,...
1463,1105,-0.0181,7956,0.203,-6851,25347,-0.7941,-24242,Total Benefits Expense
1464,,,,,,,,,
1465,-2658,,11655,,-14313,21343,,-24001,Total PR tax/benefit expense
1466,,,,,,,,,
1467,11/29/2021 at 10:21:17 PM,NaN,NaN,NaN,NaN,NaN,,NaN,NaN

In [21]:
## 
col_names = ['Actual', '%', 'Budget', '%', 'Variance (B)', 'Last Year', '%',
 'Variance (LY)', 'Item']
col_names

['Actual',
 '%',
 'Budget',
 '%',
 'Variance (B)',
 'Last Year',
 '%',
 'Variance (LY)',
 'Item']

In [23]:
week1.columns = col_names
week1

,Actual,%,Budget,%,Variance (B),Last Year,%,Variance (LY),Item
0,283,,283,,0,283,,0,# Rooms
1,1981,,1981,,0,1981,,0,Room Nights Available
2,1459,,1242,,217,683,,776,Room Nights Sold
3,0.7365,,0.6271,,0.1094,0.3448,,0.3917,Occupancy %
4,153.03,,107.35,,45.68,109,,44.03,ADR
...,...,...,...,...,...,...,...,...,...
1463,1105,-0.0181,7956,0.203,-6851,25347,-0.7941,-24242,Total Benefits Expense
1464,,,,,,,,,
1465,-2658,,11655,,-14313,21343,,-24001,Total PR tax/benefit expense
1466,,,,,,,,,
1467,11/29/2021 at 10:21:17 PM,NaN,NaN,NaN,NaN,NaN,,NaN,NaN

In [29]:
week1.loc[1466,:].values

array([' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '], dtype=object)

In [31]:
week1 = week1.replace(' ', np.nan)
week1

,Actual,%,Budget,%,Variance (B),Last Year,%,Variance (LY),Item
0,283,NaN,283,NaN,0,283,NaN,0,# Rooms
1,1981,NaN,1981,NaN,0,1981,NaN,0,Room Nights Available
2,1459,NaN,1242,NaN,217,683,NaN,776,Room Nights Sold
3,0.7365,NaN,0.6271,NaN,0.1094,0.3448,NaN,0.3917,Occupancy %
4,153.03,NaN,107.35,NaN,45.68,109,NaN,44.03,ADR
...,...,...,...,...,...,...,...,...,...
1463,1105,-0.0181,7956,0.203,-6851,25347,-0.7941,-24242,Total Benefits Expense
1464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465,-2658,NaN,11655,NaN,-14313,21343,NaN,-24001,Total PR tax/benefit expense
1466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1467,11/29/2021 at 10:21:17 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
week1.isna().sum()

Actual           429
%                673
Budget           484
%                673
Variance (B)     457
Last Year        484
%                592
Variance (LY)    457
Item             413
dtype: int64

# EDA